body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
.orange-color {
    color: orange;
}
.flexible-container {
    display: flex;
    margin-bottom: 120px;
}
.half-width {
    width: 50%;
    padding: 2%;
}
.half-width img {
    width: 80%;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px gray;
}
#web-dev-experience {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#full-stack-experience {
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
footer p {
    text-align: center;
}
